* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.botao1 {
  background-color: red;
  border: none;
  border-radius: 15px;
  color: white;
  display: flex;
  flex-direction: row;
  padding-left: 18px;
  width: 340px;
  height: 170px;
  position: relative;
}
.ancora{
    display: flex;
     justify-content: flex-start;
}
.ancora a {
  text-decoration: none;
  color: white;
  background-color: rgb(197, 21, 21);
  border-radius: 5px;
  font-size: 17px;
  padding: 7px 17px ;
  
}
.div1-botao {
  display: flex; 
  flex-direction: column;
  justify-content: space-around;
  /* background-color: blue;  */
  padding-right: 3rem;
  
}
h2 {
  font-size: 35px;
}

.div-image img {
  width: 185px;
  position: absolute; 
  bottom: 0;
  right: 0;
}
